<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tufte-css/1.8.0/tufte.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{asset 'css/style.css'}}">
    {{ghost_head}}
    <style>
    :root {
        {{#if @custom.button_color}}
        --button-bg-color: {{@custom.button_color}};
        {{/if}}
        {{#if @custom.heading_color}}
        --heading-color: {{@custom.heading_color}};
        {{/if}}
        {{#if @custom.sub_heading_color}}
        --sub-heading-color: {{@custom.sub_heading_color}};
        {{/if}}
        {{#if @custom.text_color}}
        --text-color: {{@custom.text_color}};
        {{/if}}
        {{#if @custom.button_color}}
        --button-color: {{@custom.button_color}};
        {{/if}}
        {{#if @custom.button_text_color}}
        --button-text-color: {{@custom.button_text_color}};
        {{/if}}
        {{#if @custom.button_hover_color}}
        --button-hover-color: {{@custom.button_hover_color}};
        {{/if}}
        {{#if @custom.button_hover_text_color}}
        --button-hover-text-color: {{@custom.button_hover_text_color}};
        {{/if}}
    }
</style>
</head>
<body>
<article>
    {{!-- Header --}}

    {{> header}}

    {{!-- body --}}
    {{{body}}}

    {{!-- Footer --}}
    {{> footer}}

    {{ghost_foot}}
</article>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{asset 'js/main.js'}}"></script>
</body>
</html>